<app-navbar></app-navbar>

<!-- <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="10"/>
    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
  </symbol>
  <symbol id="cart" viewBox="0 0 16 16">
    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </symbol>
</svg> -->

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
  <symbol id="arrow-right-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
  </symbol>
</svg>

<main class="grad">
  <div class="position-relative overflow-hidden p-3 p-md-5  text-center bg-body-tertiary" id="grad2">
    <div class="col-md-6 p-lg-4 mx-auto my-5">
      <h1 class="display-3 fw-bold">Services offered by MedTech Education Consultancy</h1>
      <h3 class="mb-4" id="fntsz">We're delighted that you've journeyed this far while exploring our consultancy. Now, let's discover how we can assist you or understand what you're looking for.</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <h4 class="mb-3" id="fntsz">Let's Take a Step Towards Future Together</h4>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 py-3">
        <h2 class="display-5">College Selection Assistance</h2>
        <p class="lead">Find Your Ideal College</p>
        <p class="lead">Let us guide you in selecting the perfect college that aligns with your goals and aspirations. We'll consider factors like location, majors, rankings, and extracurricular opportunities to match you with the best fit.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/college1.avif" alt="Image Not Found" height="300" width="540"></div>
    </div>
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 p-3">
        <h2 class="display-5">Admission Support</h2>
        <p class="lead">Your Path to Admission Success</p>
        <p class="lead">Our experts will walk you through the entire admission process, from application documentation to interview preparation. We'll help you present your best self to secure admission to your dream institution.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/addmission.jpg" alt="Image Not Found" height="300" width="540"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 p-3">
        <h2 class="display-5">Career Counseling</h2>
        <p class="lead mb-5">Chart Your Career Course</p>
        <p class="lead mb-5">Discover your passion and purpose with our career counseling services. We'll help you explore various career paths, align your educational choices, and set a roadmap for a successful future.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/counseling.avif" alt="Image Not Found" height="300" width="540"></div>
    </div>
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 py-3">
        <h2 class="display-5">Scholarship and Financial Aid Guidance</h2>
        <p class="lead">Unlock Financial Opportunities</p>
        <p class="lead">Maximize your chances of receiving scholarships and financial aid with our guidance. We'll assist you in finding and applying for various financial opportunities to make your education more affordable.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/scholarship.jpg" alt="Image Not Found" height="300" width="540"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 p-3">
        <h2 class="display-5">Study Abroad Planning</h2>
        <p class="lead">Explore International Education</p>
        <p class="lead">Embark on a global academic adventure with our study abroad planning. We'll help you choose the right international university, navigate visa requirements, and prepare for an enriching experience.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/study.png" alt="Image Not Found" height="300" width="540"></div>
    </div>
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 py-3">
        <h2 class="display-5">Test Preparation Programs</h2>
        <p class="lead">Achieve Test Excellence</p>
        <p class="lead">Excel in standardized tests like SAT, ACT, GRE, GMAT, or IELTS with our specialized test preparation programs. Our customized plans and expert guidance will boost your confidence and scores.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/test.jpeg" alt="Image Not Found" height="300" width="540"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 p-3">
        <h2 class="display-5">Academic Workshops and Skill Development</h2>
        <p class="lead">Enhance Your Academic Journey</p>
        <p class="lead">Participate in our academic workshops and skill development sessions to improve your study techniques, build essential skills, and excel in your coursework.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/workshop.png" alt="Image Not Found" height="300" width="540"></div>
    </div>
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 py-3">
        <h2 class="display-5">Personalized Education Plans</h2>
        <p class="lead mb-5">Your Customized Educational Roadmap</p>
        <p class="lead mb-5">Let us create a personalized educational plan that aligns with your unique goals. We'll help you choose courses, majors, and strategies for academic success.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/personedu.png" alt="Image Not Found" height="300" width="540"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 p-3">
        <h2 class="display-5">Mock Interviews</h2>
        <p class="lead">Master the Interview</p>
        <p class="lead">Prepare for college admission or job interviews with our mock interview sessions. Gain valuable experience and receive constructive feedback to boost your confidence.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/mock.jpg" alt="Image Not Found" height="300" width="540"></div>
    </div>
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" id="grad3">
      <div class="my-3 py-3">
        <h2 class="display-5">Ongoing Support and Mentoring</h2>
        <p class="lead">Your Educational Partner</p>
        <p class="lead">Count on us for continuous support throughout your educational journey. We'll be your mentors and advocates, assisting you through challenges and celebrating your successes.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="../../assets/Images/mentoring.jpeg" alt="Image Not Found" height="300" width="540"></div>
    </div>
  </div>

    <div class="b-example-divider"></div>

    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3" id="grad4">
        <!-- <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"/></svg> -->
        <h1 class="text-body-emphasis m-5 fw-bold">Stay Informed and Ready for Success!</h1>
        <p class="col-lg-8 mx-auto fs-5" id="fntsz">
          Join our community of aspiring students and parents who receive exclusive updates, educational tips, and special offers directly to their inbox. Subscribing is your key to staying informed about our services, educational insights, and upcoming opportunities. Let's embark on your educational journey together – subscribe today!
        </p>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center m-5 p-5">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Free Consultancy</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">1 Month</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Free Counceling</li>
                  <li>College Details</li>
                  <li>Admission Details</li>
                  <li>Education Plans</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary" routerLink="/signup">Sign up for free</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Pro Membership</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">6 Months</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>College Selection Assistance</li>
                  <li>Admission Support</li>
                  <li>Career Counseling</li>
                  <li>Study Abroad Planning</li>
                  <li>Test Preparation Programs</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary" (click)="ordernow()">Get started</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Enterprise Subscription</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">1 Year</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>All Pro Membership Benifit</li>
                  <li>Scholarship and Financial Aid Guidance</li>
                  <li>Academic Workshops and Skill Development</li>
                  <li>Mock Interviews</li>
                  <li>Ongoing Support and Mentoring</li>

                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary" (click)="ordernow()">Subscribe Now</button>
              </div>
            </div>
          </div>
        </div>

        <h2 class="display-6 text-center mb-4 fw-bold">Compare plans</h2>

        <div class="table-responsive m-5 p-5">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 34%;"></th>
                <th style="width: 22%;">Free</th>
                <th style="width: 22%;">Pro</th>
                <th style="width: 22%;">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">College Selection Assistance</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Admission Support</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              </tr>
            </tbody>

            <tbody>
              <tr>
                <th scope="row" class="text-start">Career Counseling</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Scholarship and Financial Aid Guidance</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Study Abroad Planning</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Test Preparation Programs
                </th>
                <td></td>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  <div class="b-example-divider"></div>

    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3" id="grad5">
        <h1 class="text-body-emphasis m-5 fw-bold">Discover a Variety of Colleges That Match Your Interests</h1>
        <p class="col-lg-8 mx-auto fs-5 m-5" id="fntsz">
          Let's see the different colleges that offer the course you are looking for and Explore Diverse Educational Paths Tailored to Your Passions.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
          <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" routerLink="/college" type="button">
            Discover Colleges
            <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"/></svg>
          </button>
        </div>
      </div>
    </div>
    <div class="b-example-divider"></div>
  <app-footer></app-footer>
</main>
