<app-navbar></app-navbar>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
  </symbol>
  <symbol id="arrow-right-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
  </symbol>
  <symbol id="check2-circle" viewBox="0 0 16 16">
    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
  </symbol>
</svg>
<div class="container-fluid" id="grad">
  <div class="container">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" id="grad2">
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-0">
        <section class="py-3 text-center container">
          <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
              <!-- <h1 class="fw-bold">INTRODUCTION</h1> -->
              <!-- <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
            </div>
          </div>
        </section>
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-5">MedTech Education Consultancy</h1>
        <div>
          <p class="lead fntsz">At MedTech Education Consultancy, we are more than just educational consultants; we are your dedicated partners in realizing your educational dreams. Our journey began with a simple yet powerful vision: to transform the educational landscape by providing students with the guidance, support, and personalized attention they deserve. </p>

          <p class="lead fntsz">Navigating the complex world of education can be a daunting task, filled with important decisions and pivotal moments. It's a journey that every student embarks on with a dream of a brighter future. Our role is to turn those dreams into reality.</p>

          <p class="lead fntsz">With years of experience and a team of passionate experts, we have helped countless students find the right colleges, secure admissions, and embark on fulfilling careers. Our commitment to ethical practices, personalized guidance, and unwavering dedication to each student's success sets us apart.</p>

          <p class="lead fntsz">As you explore our story, meet our team, and learn about our approach, you'll discover that we are more than just consultants; we are mentors, advocates, and friends who are deeply invested in your educational journey. Your success is our success, and we're here to support you every step of the way.</p>

          <p class="lead fntsz">Welcome to MedTech Education Consultancy, where dreams are nurtured, potential is unlocked, and educational aspirations become achievements. We look forward to being a part of your educational adventure.</p>
      </div>
      </div>
    </div>


    <div class="b-example-divider"></div>


    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" id="grad3">
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-0">
        <section class="py-3 text-center container">
          <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
              <!-- <h1 class="fw-bold">INTRODUCTION</h1> -->
              <!-- <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
            </div>
          </div>
        </section>
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-5">Our Story and How It All Began</h1>
        <p class="lead fntsz">It all began with a shared passion for education and a deep commitment to helping students achieve their dreams. MedTech Education Consultancy was founded on the belief that every student deserves guidance and support on their educational journey, and that's a belief that continues to drive us today.</p>

        <p class="lead fntsz">Our story started when Aman Kumar, our visionary founder, recognized the challenges and uncertainties that students face when making crucial decisions about their education. With a background in education and a heart full of empathy, Aman Kumar set out on a mission to change this narrative.</p>

        <p class="lead fntsz">Aman Kumar brought together a team of dedicated experts, each with their own unique experiences and insights into the world of academia. Together, we embarked on a journey to create a consultancy that would offer not just advice, but a guiding hand, a reassuring voice, and a roadmap to success for students from all walks of life.</p>

        <p class="lead fntsz">Over the years, MedTech Education Consultancy has grown from a small initiative into a trusted name in the field of education consultancy. We have had the privilege of working with a diverse group of students, each with their own set of dreams and aspirations. Our consultancy has evolved to meet the ever-changing demands of the educational landscape, adapting our services to provide the most relevant guidance.</p>

        <p class="lead fntsz">But amidst this growth, one thing has remained constant: our commitment to ethical practices, personalized guidance, and, above all, the success and well-being of our students. Every success story, every college acceptance letter, and every career achievement fuels our passion and reinforces our dedication to this cause.</p>

        <p class="lead fntsz">As we look back on our journey, we are filled with gratitude for the trust placed in us by students and parents alike. We are humbled by the opportunities we've had to make a positive impact on the lives of those we've served. And we are excited about the future, as we continue to empower students to reach for the stars and make their educational dreams come true.</p>

        <p class="lead fntsz">Thank you for being a part of our story, and we look forward to being a part of yours.</p>

      </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" id="grad2">
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-0">
        <div class="row mb-2">
          <section class="py-3 text-center container">
            <div class="row py-lg-3">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold">Meet Our Amazing Team Members</h1>
                <!-- <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
              </div>
            </div>
          </section>
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Founder</strong>
                <h3 class="mb-0">Aman Kumar</h3>
                <div class="mb-1 text-body-secondary">5 Years</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <!-- <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a> -->
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="../../assets/Images/person1.png" alt="ImageNotFound" width="200" height="250">
                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Director</strong>
                <h3 class="mb-0">Shivani</h3>
                <div class="mb-1 text-body-secondary">4 Years</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <!-- <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a> -->
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="../../assets/Images/person2.png" alt="ImageNotFound" width="200" height="250">
                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Acadamic Expert</strong>
                <h3 class="mb-0">Vaibhav</h3>
                <div class="mb-1 text-body-secondary">4 Years</div>
                <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <!-- <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a> -->
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="../../assets/Images/person3.png" alt="ImageNotFound" width="200" height="250">
                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Expert Counselor</strong>
                <h3 class="mb-0">Varsha</h3>
                <div class="mb-1 text-body-secondary">4 Years</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <!-- <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a> -->
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="../../assets/Images/person4.png" alt="ImageNotFound" width="200" height="250">
                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Human Resourses</strong>
                <h3 class="mb-0">Anil Kumar</h3>
                <div class="mb-1 text-body-secondary">3 Years</div>
                <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <!-- <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a> -->
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="../../assets/Images/person5.png" alt="ImageNotFound" width="200" height="250">
                <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" id="grad3">
        <div class="col-lg-12 p-3 p-lg-5 pt-lg-0">
          <section class="py-3 text-center container">
            <div class="row py-lg-3">
              <div class="col-lg-6 col-md-8 mx-auto">
                <!-- <h1 class="fw-bold">INTRODUCTION</h1> -->
                <!-- <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
              </div>
            </div>
          </section>
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-5">Our Approach: Guiding Your Educational Journey</h1>

          <div class="fntsz">
            <p class="lead" id="fntsz">At MedTech Education Consultancy, our approach is driven by a deep commitment to providing students with personalized, effective, and ethical guidance throughout their educational journey. We understand that every student is unique, with distinct goals, strengths, and aspirations. Our approach is designed to celebrate and support these individual differences.</p>

            <h3>1. Personalization:</h3>

            <p class="lead" id="fntsz">We believe that one size does not fit all when it comes to education. That's why we take the time to get to know each student personally.</p>

            <p class="lead" id="fntsz">We listen, we ask questions, and we learn about your dreams, interests, and challenges to create a customized plan.</p>

            <h3>2. Expertise:</h3>

            <p class="lead" id="fntsz">Our team of experienced education consultants brings a wealth of knowledge and insights to the table.</p>

            <p class="lead" id="fntsz">We stay up-to-date with the latest trends, admission requirements, and educational opportunities to provide you with expert advice.</p>

            <h3>3. Ethical Practice:</h3>

            <p class="lead" id="fntsz">Integrity and transparency are at the core of our consultancy. We operate with the highest ethical standards.</p>

            <p class="lead" id="fntsz">We prioritize the best interests of our students, providing honest guidance and maintaining confidentiality.</p>

            <h3>4. Comprehensive Support:</h3>

            <p class="lead" id="fntsz">We offer a holistic approach to education consulting, supporting students at every stage of their journey.</p>

            <p class="lead" id="fntsz">Whether you're exploring colleges, preparing for admission tests, or planning your career, we're here to assist.</p>

            <h3>5. Empowerment:</h3>

            <p class="lead" id="fntsz">We believe in empowering students with knowledge and skills that go beyond their current educational pursuits.</p>

            <p class="lead" id="fntsz">Our guidance equips you to make informed decisions not just for today, but for a successful future.</p>

            <h3>6. Ongoing Commitment:</h3>

            <p class="lead"id="fntsz">Our support doesn't end with college admissions. We are committed to staying engaged as you progress through your educational path.</p>

            <p class="lead" id="fntsz">We're here to celebrate your successes and provide guidance during challenges.</p>

            <h3>7. Student-Centric:</h3>

            <p class="lead"id="fntsz">You are at the center of everything we do. Your dreams, your goals, and your journey are our top priorities.</p>

            <p class="lead" id="fntsz">We measure our success by your achievements and satisfaction.</p>

            <p class="lead" id="fntsz">By embracing this approach, we aim to transform educational consulting into a collaborative and empowering experience. Your success is our success, and we're excited to be part of your educational adventure.</p>
          </div>
        </div>
      </div>

      <div class="b-example-divider"></div>

      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" id="grad2">
        <div class="col-lg-12 p-3 p-lg-5 pt-lg-0">
          <section class="py-3 text-center container">
            <div class="row py-lg-3">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold">Let's hear what our clients have to say</h1>
                <!-- <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
              </div>
            </div>
          </section>

          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3">
                <div class="col-4">
                  <img src="" alt="">
                  <!-- <h1>PHOTO-1</h1> -->
                  <img class="mrg" src="../../assets/Images/person1.png" alt="ImageNotFound" width="200" height="250">
                </div>
                <h2>John Smith, College Student</h2>
                <p>I can't thank MedTech Education Consultancy enough for helping me navigate the overwhelming college admission process. Their personalized guidance and unwavering support made all the difference. I wouldn't be where I am today without their expertise.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <div class="col-4">
                  <img class="mrg" src="../../assets/Images/person4.png" alt="ImageNotFound" width="200" height="250">
                  <!-- <h1>PHOTO-1</h1> -->
                </div>
                <h2>Sarah Johnson, Parent</h2>
                <p>As a parent, I was worried about my child's future and making the right educational choices. MedTech Education Consultancy not only eased my concerns but also provided valuable insights into our options. Their dedication to our child's success is truly commendable.</p>
                <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
              </div>
            </div>
          </div>
          <div class="row align-items-md-stretch mt-4">
            <div class="col-md-6">
              <div class="h-100 p-5 text-bg-dark rounded-3">
                <div class="col-4">
                  <img class="mrg" src="../../assets/Images/person2.png" alt="ImageNotFound" width="200" height="250">
                  <!-- <h1>PHOTO-1</h1> -->
                </div>
                <h2>Emily Davis, Recent Graduate</h2>
                <p>I came to MedTech Education Consultancy feeling lost and uncertain about my career path. Their career counseling services were a game-changer. They helped me discover my true interests and chart a course towards a fulfilling career.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <div class="col-4">
                  <img class="mrg" src="../../assets/Images/person6.png" alt="ImageNotFound" width="200" height="250">
                  <!-- <h1>PHOTO-1</h1> -->
                </div>
                <h2>Mary Taylor, High School Student</h2>
                <p>The team at MedTech Education Consultancy goes above and beyond to make students feel valued and heard. Their personalized approach is a breath of fresh air in the world of education consulting. I highly recommend their services.</p>
                <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="b-example-divider"></div>

      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" id="grad3">
        <div class="col-lg-12 p-3 p-lg-5 pt-lg-0 text-center">

          <h1 class="text-body-emphasis text-center">Learn More About Our Services</h1>
          <p class="col-lg-8 mx-auto mt-5 mb-5" id="fntsz">
            Ready to explore how we can assist you on your educational journey? Discover our comprehensive range of services designed to support your goals and aspirations. Click below to learn more about how we can help you succeed.
          </p>
          <div class="d-inline-flex gap-2 mb-5">
            <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" routerLink="/services">
              Discover Our Services
              <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"/></svg>
            </a>
          </div>
        </div>
      </div>
  </div>
  <div class="b-example-divider"></div>
<app-footer></app-footer>
</div>

