.border-dashed { --bs-border-style: dashed; }

.b-example-divider {
  width: 100%;
  height: 3rem;
  margin-top:2cm;
  margin-bottom: 2cm;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#grad {
  background-image: linear-gradient(to right, rgb(136, 72, 186) , rgb(81, 129, 223));
}

#grad2 {
  background-image: linear-gradient(to left, rgb(160, 60, 236) , rgb(61, 122, 243));
}

#grad3 {
  background-image: linear-gradient(to right, rgb(160, 60, 236) , rgb(61, 122, 243));
}

.fntsz{
  font-size:x-large;
  color: #ffffff;
  text-align:justify ;
}

#fntsz{
  font-size:x-large;
  color: #ffffff;
  text-align:justify ;
}

#bt{
  margin-right:0%;
}


.mrg {
  margin-left: 80%;
  margin-right: 20%;
  margin-bottom: 10%;
}
